:host {
	--select-option-line-clamp: 1;

	--select-option-selected-bg-color: hsl(195deg 100% 50%);
	--select-option-selected-font-color: white;

	--select-option-active-bg-color: hsl(216 33% 90%);
}

:host {
	max-width: 100%;
}

#select {
	position: relative;
	line-height: 1.5em;
	min-height: calc(
		1.5em + 10px
	); /* 10px 是 padding-block 和 border-block 的和 */
	vertical-align: middle;
}

#select::part(text) {
	padding-inline-end: 1em;
}

#icon {
	font-size: 24px;
	position: absolute;
	right: 2px;
	top: 4px;
}

#popover {
	display: none;
	pointer-events: none;
	position: fixed;
	inset: 0;
}
#popover[open] {
	display: block;
	z-index: 99999;
}

#popover #popoverContent {
	pointer-events: auto;
	position: fixed;
	border: thin solid silver;
	background-color: #fff;
}

xtt-option {
	padding: 4px 8px;
	cursor: pointer;
	max-width: 100%;
	min-height: 1em;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--select-option-line-clamp, 1);
	overflow: hidden;
}
xtt-option[selected] {
	background-color: var(--select-option-selected-bg-color);
	color: var(--select-option-selected-font-color);
}
xtt-option:focus {
	outline: 1px dotted silver;
}
xtt-option:not(:is([selected], [disabled])):focus {
	background-color: var(--select-option-active-bg-color);
}

/* disabled 状态 */
xtt-option[disabled] {
	opacity: 0.5;
	cursor: default;
}

@media (hover: hover) {
	xtt-option:not(:is([selected], [disabled])):hover {
		background-color: var(--select-option-active-bg-color);
	}
}

::slotted(option) {
	display: none;
}
