:host {
	--link-inline-align: center;

	--link-font-color: inherit;
	--link-font-color-hover: inherit;
	--link-font-color-active: inherit;

	--link-focus-outline: thin dotted black;
}

:host(:is([block], [inline-block])) {
	--link-padding: 4px 10px;
}

:host([block]) {
	--link-hover-bg-color: var(--grey-light-color);
}

:host([type="primary"]) {
	--link-font-color: var(--primary-color);
	--link-font-color-hover: var(--primary-light-color);
	--link-font-color-active: var(--primary-dark-color);
}

#link {
	cursor: pointer;
	color: var(--link-font-color, inherit);
	text-decoration: none;
}

:host(:is([inline-block], [block])) #link {
	display: inline-flex;
	max-width: 100%;
	justify-content: var(--link-inline-align);
	box-sizing: border-box;

	padding: var(--link-padding, 4px 10px);
}
:host([block]) #link {
	display: flex;
	width: 100%;
}

:host([block]) #link:hover {
	background-color: var(--link-hover-bg-color);
}

@media (hover: hover) {
	#link:hover {
		color: var(--link-font-color-hover, inherit);
	}
}

#link:active {
	color: var(--link-font-color-active, inherit);
}

#link:focus {
	outline: var(--link-focus-outline);
	outline-offset: 1px;
}

/* link 默认是 inline 元素 */
:host {
	display: inline;
}
:host([inline-block]) {
	display: inline-block;
}
:host([block]) {
	display: block;
}
