:host {
	--text-edit-padding: 5px 8px;
	--text-edit-border-color: silver;
	--text-edit-focus-outline: thin solid hsl(195deg 100% 50%);
	--text-edit-font-size: 14px;
}

:host {
	box-sizing: border-box;
	border: thin solid;
	line-height: 1.5;
	white-space: pre-wrap;
	overflow: auto;
	font-size: var(--text-edit-font-size, 14px);
	border-color: var(--text-edit-border-color, silver);
	padding: var(--text-edit-padding);
}

:host {
	display: inline-block;
	width: 20em;
}
:host([block]) {
	display: block;
	width: 100%;
}

:host(:focus) {
	outline: var(--text-edit-focus-outline);
}

/* 不可编辑时如果没有内容元素高度会塌陷 */
:host(:is([readonly], [disabled]):empty)::after {
	content: " ";
}
