:host {
	--button-primary-color: hsl(195deg 100% 50%);
	--button-primary-light-color: hsl(195deg, 100%, 65%);
	--button-primary-dark-color: hsl(195deg, 100%, 40%);

	--button-bg-color: transparent;
	--button-font-color: inherit;
	--button-padding: 4px 10px;
	--button-border-color: silver;
	--button-border-radius: 4px;
	--button-focus-outline: thin dotted #000000;
	--button-column-gap: 8px;

	--button-line-clamp: 1;

	--button-bg-color-hover: transparent;
	--button-font-color-hover: hsl(195deg 100% 50%);
	--button-border-color-hover: hsl(195deg 100% 50%);
}
:host([type="primary"]) {
	--button-bg-color: var(--button-primary-color);
	--button-bg-color-hover: var(--button-primary-light-color);
	--button-font-color: white;
	--button-border-color: var(--button-primary-color);
	--button-focus-outline: thin dotted var(--button-primary-color);
	--button-font-color-hover: white;

	--button-bg-color-active: var(--button-primary-dark-color);
}
:host([type="base"]) {
	--button-bg-color: transparent;
	--button-bg-color-hover: transparent;
	--button-font-color-hover: inherit;
	--button-border-color-hover: silver;
}
:host([text]) {
	--button-bg-color: transparent;
	--button-font-color: inherit;

	--button-bg-color-hover: hsl(216 33% 95%);
	--button-font-color-hover: inherit;

	--button-bg-color-active: hsl(216 33% 90%);
}
:host([text][type="primary"]) {
	--button-font-color: var(--button-primary-color);
	--button-font-color-hover: var(--button-primary-color);
}
:host([size="large"]) {
	--button-padding: 8px 15px;
}

:host(:focus) {
	outline: var(--button-focus-outline, thin dotted grey);
	outline-offset: 1px;
}

:host {
	display: inline-flex;
	box-sizing: border-box;
	border: thin solid;
	cursor: pointer;
	max-width: 100%;
	font-size: inherit;
	border-radius: var(--button-border-radius, 4px);
	padding: var(--button-padding, 4px 10px);
	column-gap: var(--button-column-gap, 8px);
	background-color: var(--button-bg-color, transparent);
	border-color: var(--button-border-color, silver);
	color: var(--button-font-color, inherit);
	transition: background-color 0.2s;
}

/* disabled 状态 */
:host([disabled]) {
	pointer-events: none;
	opacity: 0.5;
}

:host([text]) {
	border: none;
}

/* 检测设备是否支持 hover */
/* 将 hover 样式统一放到该区域进行管理 */
@media (hover: hover) {
	:host(:hover) {
		background-color: var(--button-bg-color-hover);
		border-color: var(--button-border-color-hover, silver);
		color: var(--button-font-color-hover, inherit);
	}
}

:host(:active) {
	background-color: var(--button-bg-color-active, transparent);
}

:host([block]) {
	display: flex;
	width: 100%;
	justify-content: center;
}

#text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--button-line-clamp, 1);
	overflow: hidden;
	text-align: start;
}
:host(.no-icon) #icon,
:host(.no-text) #text {
	display: none;
}
