<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			.event {
				display: flex;
				flex-wrap: wrap;
				gap: 8px;
			}
			.long-text {
				max-width: 200px;
			}
		</style>
		<script src="./button.js" type="module"></script>
	</head>
	<body>
		<h1>Button 按钮</h1>

		<h2>基础用法</h2>
		<xtt-button id="default">default</xtt-button>
		<xtt-button class="long-text"
			>long long long long long long long long text with max width is
			200px</xtt-button
		>
		<xtt-button disabled>disabled</xtt-button>

		<div class="event"></div>

		<h2>type 样式</h2>
		<xtt-button type="primary">primary</xtt-button>

		<h2>size 尺寸</h2>
		<xtt-button size="large">large</xtt-button>

		<script>
			const defaultBtn = document.getElementById("default");
			const event = document.querySelector(".event");

			const appendEvent = (text) => {
				const span = document.createElement("span");
				span.innerText = text;
				event.appendChild(span);
			};
			defaultBtn.addEventListener("click", () => {
				appendEvent("click");
			});
			defaultBtn.addEventListener("focus", () => {
				appendEvent("focus");
			});
			defaultBtn.addEventListener("blur", () => {
				appendEvent("blur");
			});
			defaultBtn.addEventListener("keydown", () => {
				appendEvent("keydown");
			});
		</script>
	</body>
</html>
