.operate-wrapper {
	display: flex;
	outline: thin solid #ccc;
}

.operate-wrapper > .operate-content {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	padding: 8px;
}

.operate-wrapper > .lil-gui {
	flex: none;
}

.wrap > * {
	margin-block-end: 8px;
}

.wrap > :not([block]) {
	margin-inline-end: 16px;
}

@font-face {
	font-family: "喜鹊万人造字体";
	src: url(../fonts/喜鹊万人造字体.woff2) format("woff2");
}

xtt-button-rough {
	font-family: "喜鹊万人造字体";
}
