:host {
	position: fixed;
	inset: 0;
	background-image: var(--bg-url);
	background-size: cover;
	background-position: center;
	z-index: -9;
}

:host([mask]) {
	filter: brightness(0.3);
}

:host([mask][light]) {
	filter: brightness(0.7);
}
