:host {
	--primary-color: hsl(195deg, 100%, 50%);
	--primary-light-color: hsl(195deg, 100%, 65%);
	--primary-dark-color: hsl(195deg, 100%, 40%);

	--danger-color: hsl(0deg, 87%, 65%);
	--danger-light-color: hsl(0deg, 87%, 75%);
	--danger-dark-color: hsl(0deg, 87%, 50%);

	--grey-color: hsl(0deg, 0%, 75%);
	--grey-light-color: hsl(0deg, 0%, 95%);
	--grey-dark-color: hsl(0deg, 0%, 50%);
}

:host::-webkit-scrollbar,
:host ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	margin: 5px 0;
}
:host::-webkit-scrollbar-thumb,
:host ::-webkit-scrollbar-thumb {
	margin: 5px 0;
	border-radius: 15px;
	background: var(--grey-color);
}
:host([dark])::-webkit-scrollbar-thumb,
:host([dark]) ::-webkit-scrollbar-thumb {
	background: var(--grey-dark-color);
}

:host::-webkit-scrollbar-track,
:host ::-webkit-scrollbar-track {
	margin: 5px 0;
	border-radius: 15px;
}
