:host {
	--tooltip-max-width: 300px;
	--tooltip-font-size: 14px;
	--tooltip-z-index: 99999;
	--tooltip-bg-color: #fff;
	--tooltip-border-color: grey;
}

:host {
	display: contents;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#popover {
	visibility: hidden;
	position: fixed;
	padding: 4px 8px;
	max-width: var(--tooltip-max-width);
	font-size: var(--tooltip-font-size);
	z-index: var(--tooltip-z-index);
	border: thin solid var(--tooltip-border-color);
	background-color: var(--tooltip-bg-color);
	transform-origin: bottom center;
}

#popover[open] {
	visibility: visible;
	animation: show 0.2s ease-out;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* 增大 tooltip 元素的鼠标事件响应的区域 */
#popover::before {
	content: "";
	position: absolute;
	inset: 0;
	opacity: 0;
	z-index: -1;
}
#popover.top::before {
	inset-block-end: -10px;
}
#popover.bottom::before {
	inset-block-start: -10px;
}

#arrow {
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: var(--tooltip-bg-color);
	border: thin solid var(--tooltip-border-color);
	transform-origin: center center;
	transform: translateX(-4px) rotate(45deg);
}

.top #arrow {
	clip-path: polygon(0 100%, 100% 100%, 100% 0);
	bottom: -5px;
}
.bottom #arrow {
	clip-path: polygon(0 0, 0 100%, 100% 0);
	top: -5px;
}
