:host {
	--tooltip-max-width: 300px;
	--tooltip-font-size: 14px;
	--tooltip-z-index: 99999;
	--tooltip-bg-color: #fff;
	--tooltip-border-color: grey;
}

#popover {
	visibility: hidden;
	position: absolute;
	padding: 4px 8px;
	max-width: var(--tooltip-max-width);
	font-size: var(--tooltip-font-size);
	z-index: var(--tooltip-z-index);
	border: thin solid var(--tooltip-border-color);
	background-color: var(--tooltip-bg-color);
	transform-origin: bottom center;
}

#popover[open] {
	visibility: visible;
	animation: show 0.2s ease-out;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0.4);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* 增大 tooltip 元素的鼠标事件响应的区域 */
#popover::before {
	content: "";
	position: absolute;
	inset: -10px 0;
	opacity: 0;
	z-index: -1;
}
