:host {
	--tooltip-font-size: 14px;
}

:host {
}

#dialog {
	border: thin solid grey;
	margin: 0;
	padding: 4px 8px;
	outline: none;
	max-width: 300px;
}

#content {
	/* overflow-wrap: break-word; */
	font-size: var(--tooltip-font-size);
}
