:host {
	--md-bg-color: #fff;
	--color-canvas-default: #d0d7de;
	--color-canvas-subtle: #f6f8fa;
}

:host {
	max-width: 100%;
	overflow-x: auto;
}

#body {
	background-color: var(--md-bg-color);

	--color-canvas-default: var(--color-canvas-default);
	--color-canvas-subtle: var(--color-canvas-subtle);
}
