:host {
	--md-bg-color: #fff;
	--md-color-canvas-default: transparent;
	--md-color-canvas-subtle: transparent;
	--md-color-border-default: #d0d7de;
}

:host {
	max-width: 100%;
	overflow-x: auto;
}

#body {
	background-color: var(--md-bg-color);

	--color-canvas-default: var(--md-color-canvas-default);
	--color-canvas-subtle: var(--md-color-canvas-subtle);
	--color-border-default: var(--md-color-border-default);
}

#body pre {
	border: 1px solid var(--color-border-default);
	background-color: var(--grey-light-color);
}
