:host {
	--text-box-color: var(--primary-color);
	--text-box-blur-color: var(--text-box-color);
	--text-box-width: 2px;
	--text-box-blur-width: calc(var(--text-box-width) * 1.5);

	/* --text-box-skewX: 10deg; */
}

/* text 默认是 inline 元素 */
:host {
	display: block;
	position: relative;
	width: 200px;
	height: 100px;
	padding: 0.5em 1em 1em;
	/* transform: skewX(var(--text-box-skewX)); */
	/* shape-outside: polygon(-10% 0, 90% 0, 110% 100%, 10% 100%); */
}

#text {
	height: 100%;
	overflow: auto;
	/* transform: skewX(calc(-1 * var(--text-box-skewX))); */
}

#box {
	position: absolute;
	inset: 0;
	z-index: -1;
	/* transform: skewX(var(--text-box-skewX)); */
	background-image: linear-gradient(
			to bottom,
			var(--text-box-color) 0%,
			var(--text-box-color) var(--text-box-width),
			transparent var(--text-box-width),
			transparent 100%
		),
		linear-gradient(
			to right,
			var(--text-box-color) 0%,
			var(--text-box-color) var(--text-box-width),
			transparent var(--text-box-width),
			transparent calc(100% - var(--text-box-width)),
			var(--text-box-color) calc(100% - var(--text-box-width)),
			var(--text-box-color) 100%
		);
}
#box::before {
	content: "";
	position: absolute;
	inset-inline: 0;
	inset-block-end: 0;
	height: var(--text-box-width);
	background-image: linear-gradient(
		to right,
		var(--text-box-color) 0%,
		var(--text-box-color) 10%,
		transparent 10%,
		transparent 20%,
		var(--text-box-color) 20%,
		var(--text-box-color) 100%
	);
}
#box::after {
	content: "";
	position: absolute;
	inset-inline-start: 10%;
	inset-block-end: 0;
	height: var(--text-box-width);
	width: 10%;
	background-color: var(--text-box-color);
	transform: rotate(-45deg);
}

#box-blur {
	position: absolute;
	inset: 0;
	filter: blur(var(--text-box-blur-width));
	z-index: -2;
	/* transform: skewX(var(--text-box-skewX)); */
	background-image: linear-gradient(
			to bottom,
			var(--text-box-blur-color) 0%,
			var(--text-box-blur-color) var(--text-box-width),
			transparent var(--text-box-width),
			transparent 100%
		),
		linear-gradient(
			to right,
			var(--text-box-blur-color) 0%,
			var(--text-box-blur-color) var(--text-box-width),
			transparent var(--text-box-width),
			transparent calc(100% - var(--text-box-width)),
			var(--text-box-blur-color) calc(100% - var(--text-box-width)),
			var(--text-box-blur-color) 100%
		);
}
#box-blur::before {
	content: "";
	position: absolute;
	inset-inline: 0;
	inset-block-end: 0;
	height: var(--text-box-width);
	background-image: linear-gradient(
		to right,
		var(--text-box-blur-color) 0%,
		var(--text-box-blur-color) 10%,
		transparent 10%,
		transparent 20%,
		var(--text-box-blur-color) 20%,
		var(--text-box-blur-color) 100%
	);
}
#box-blur::after {
	content: "";
	position: absolute;
	inset-inline-start: 10%;
	inset-block-end: 0;
	height: var(--text-box-width);
	width: 10%;
	background-color: var(--text-box-blur-color);
	transform: rotate(-45deg);
}
