:host {
	--text-box-color: var(--primary-color);
	--text-box-blur-color: var(--text-box-color);
	--text-box-width: 2px;
	--text-box-blur-width: calc(var(--text-box-width) * 1.5);

	/* --text-box-skewX: 10deg; */
}

/* text 默认是 inline 元素 */
:host {
	display: block;
	position: relative;
	width: 200px;
	height: 100px;
	padding: 0.5em 1.2em 1.2em;
}

#text {
	height: 100%;
	overflow: hidden;
	position: relative;
}

#box {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	fill: none;
	stroke: var(--text-box-color);
	stroke-width: var(--text-box-width);
}

#oLine,
#oLineBack {
	transform: rotate(-40deg);
}

:host(.hasChildList) :is(#oLine, #oLineBack) {
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#lineBack,
#oLineBack {
	filter: blur(max(var(--text-box-blur-width), 4px));
}

#leftShape {
	float: left;
	height: 100%;
	opacity: 0;
}
#rightShape {
	float: right;
	height: 100%;
	opacity: 0;
}

#nextMark {
	display: none;
	position: absolute;
	inset-block-end: 0;
	inset-inline-end: 0;
	width: 8px;
	height: 8px;
	background-color: var(--text-box-color);
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	animation: rotateY 2s linear infinite;
}

:host(.hasChildList:not(.last)) #nextMark {
	display: block;
}

@keyframes rotateY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
