:host {
	--loading-stroke-width: 16;
	--loading-r: 52;
}

:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#loading {
	width: 1em;
	height: 1em;
	mask: conic-gradient(transparent 45deg, #000);
	animation: rotate 2s linear infinite;
}

#circle {
	fill: none;
	stroke: currentColor;
	stroke-width: var(--loading-stroke-width, 16);
	cx: 64;
	cy: 64;
	r: var(--loading-r, 52);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

:host(:not(:empty)) #loading {
	margin-inline-end: min(0.5em, 16px);
}
