.label-layout {
	display: flex;
	align-items: start;
	column-gap: 8px;
}

.label-layout > label:first-child {
	flex: 0 0 100px;
	padding-inline-end: 8px;
	text-align: end;
}

.label-layout + .label-layout {
	margin-block-start: 8px;
}

.operate-wrapper {
	display: flex;
	outline: thin solid #ccc;
}

.operate-wrapper > .operate-content {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 300px;
}

.operate-wrapper > .lil-gui {
	flex: none;
}
